
<h3>Internal (Server) Error</h3>
<hr />
<p>I'm very sorry about this, but something went wrong on our 
    end and there was an error on the server.</p>

<p>If you could do us a favor and go to
    the <a href="https://github.com/nfisher23/BlogNC">BlogNC git hub page</a>
    and tell us about what happened here in the 
    Issues section, that would be greatly appreciated. </p>