@{
    string title = "BlogNC - A Blogging Framework Built with .NET Core";
    if (ViewBag.Title != null)
    { title = ViewBag.Title; }
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <title>@title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/blog-nc-styles.css" rel="stylesheet" />
</head>

<body>
    <!--Top Header stuff-->
    <div class="container">
        <header class="blog-nc-header pb-2">
            <div class="row">
                <div class="col-8">
                    <img src="~/imgs/blog-nc-logo.svg" 
                         asp-append-version="true" width="250" height="82" />
                </div>
                <div class="col-4 text-muted d-flex align-items-end mt-2">
                    <p class="ml-auto">An(other) open source blogging framework</p>
                </div>
            </div>
        </header>
        @await Component.InvokeAsync("Navigation")

        <div class="jumbotron p-3 p-md-5 text-white bg-dark">
            <div class="col-lg-6">
                <h1 class="display-3">Welcome to BlogNC</h1>
                <p class="lead my-3">An open source blogging framework</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!--Main content-->
            <div class="col-lg-8 mb-3">
                @RenderBody()
            </div>
            <!--Sidebar-->
            <aside class="col-lg-4">
                <div class="card rounded border-0">
                    <div class="card-header border">
                        <h4 class="bg-light m-2">About the author</h4>
                    </div>
                    <div class="card-body">
                        <p class="lead">Our author is a great author, and our author will blog your pants off.</p>
                    </div>
                </div>
                @await Component.InvokeAsync("RecentPosts")

                @await Component.InvokeAsync("Archives")
            </aside>
        </div>
    </div>


    @await  Component.InvokeAsync("Footer")


    <script src="~/lib/jquery/dist/jquery.slim.min.js"></script>
    <script src="~/lib/popper.js/dist/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
  


</html>