@model AdminEditStaticPageModel


@if (TempData.Keys.Count > 0
          && TempData.Keys.Contains("message"))
{
    <div class="alert alert-danger" role="alert">
        <h5>
            Message: @TempData["message"]
        </h5>
    </div>

}

<form asp-action="EditStaticPage" method="post">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <input type="hidden" asp-for="Page.StaticPageId" />
    <div class="form-group border-bottom m-2">
        <input class="btn btn-outline-primary btn-lg mt-1 mx-2 mb-3" type="submit" value="Save"
               asp-action="EditStaticPage" />
        <input class="btn btn-danger float-right mr-3 btn-lg" type="submit" value="Delete"
               asp-action="DeleteStaticPage" />
    </div>
    <div class="form-group">
        <label asp-for="Page.PageTitle"></label>
        <div><span asp-validation-for="Page.PageTitle" class="text-danger"></span></div>
        <input asp-for="Page.PageTitle" class="form-control" />
    </div>
    <div class="row border form-control mx-0 my-2 py-2">
        <div class="form-check p-0 ml-5">
            <div><span asp-validation-for="Page.InMainNav" class="text-danger"></span></div>
            <input asp-for="Page.InMainNav" class="form-check-input" type="checkbox" />
            <label asp-for="Page.InMainNav"></label>
        </div>
        <div class="clearfix form-group m-2">
            <div><span asp-validation-for="Page.MainNavPriority" class="text-danger"></span></div>
            <label asp-for="Page.MainNavPriority"></label>
            <input asp-for="Page.MainNavPriority" class="form-control" />
        </div>
    </div>
    <div class="row border form-control mx-0 my-2 py-2">
        <div class="form-check p-0 ml-5">
            <div><span asp-validation-for="Page.InFooter" class="text-danger"></span></div>
            <input asp-for="Page.InFooter" class="form-check-input" type="checkbox" />
            <label asp-for="Page.InFooter"></label>
        </div>
        <div class="clearfix form-group m-2">
            <div><span asp-validation-for="Page.FooterPriority" class="text-danger"></span></div>
            <label asp-for="Page.FooterPriority"></label>
            <input asp-for="Page.FooterPriority" class="form-control" />
        </div>
    </div>
    <div class="mb-3"></div>
    <div class="form-group">
        <label asp-for="Page.FullContent"></label>
        <div><span asp-validation-for="Page.FullContent" class="text-danger"></span></div>
        <textarea asp-for="Page.FullContent" class="rounded form-control" rows="10"></textarea>
    </div>
    <div class="text-left justify-content-between">
        <input class="btn btn-outline-primary my-4 mt-sm-0" type="submit"
               value="Save" asp-action="EditStaticPage" />
        <a asp-action="Home" asp-controller="Admin" asp-area="NCAdmin"
           class="btn btn-outline-danger mx-sm-5 my-4 mt-sm-0">Cancel</a>
        <input class="btn btn-danger my-4 mt-sm-0" type="submit"
               value="Delete Page" asp-action="DeleteStaticPage" />
    </div>
</form>