
<h1>Dashboard Home</h1>
<p class="badge badge-pill border p-3">Todo: Little blurb about how we're going to change the world</p>
<br />
<br />

<div class="row">
    <div class="col-lg-6">
        @await Component.InvokeAsync("AdminRecentPosts")
    </div>    
    <div class="col-lg-6 mt-5 mt-lg-0">
        @await Component.InvokeAsync("AdminRecentDrafts")
    </div>
</div>

<div class="row">
    @await  Component.InvokeAsync("AdminStaticPages")
</div>