@model RecentPostsViewModel

<div class="card border-0 mt-3">
    <div class="card-header m-0 border">
        <h4 class="card-title mb-0 m-2">Recent Posts</h4>
    </div>
    <div class="card-body">
        <ul class="list-unstyled">
            @foreach (var post in Model.Posts)
        {
        <li class="m-1">
            <a asp-action="FindPost" asp-area="Blog" asp-controller="Post"
               asp-route-urlTitle="@post.UrlTitle"
               class="text-custom-dark-muted pl-2 lead">
                @post.PageTitle
            </a>
        </li>
        }
        </ul>
    </div> 
</div>