@model AccountLoginModel

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Log In to BlogNC</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/css/login-styles.css" rel="stylesheet">
</head>

<body class="text-center">
    <form class="form-signin" method="post" asp-action="Login">
        <input type="hidden" asp-for="ReturnUrl" />
        <img class="mb-4" src="~/imgs/blog-nc-logo.svg" alt="blog nc" width="290" height="93">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h1 class="mb-4 text-center h2">Login</h1>
        <span class="text-danger" asp-validation-for="Name"></span>
        <label asp-for="Name" class="sr-only">Login Name</label>
        <input asp-for="Name" class="form-control mb-3" placeholder="Username" autofocus>
        <span class="text-danger" asp-validation-for="Password"></span>
        <label asp-for="Password" class="sr-only">Password</label>
        <input asp-for="Password" class="form-control mb-3" placeholder="Password" autofocus>
        <button class="btn btn-lg btn-info my-3" type="submit">Sign In</button>
    </form>
</body>
</html>

